@charset "ISO-8859-1";
.border{
	height:15px;
	width:550px;
	background:#15305b;
	margin-left:100px;
	margin-top:30px;
	border:1px solid;
    padding: 10px;
    border-top-right-radius: 10em;
}
.header{
	font-size:20px;
	color:white;
	margin-top:-6px;
}
.border2{
	height:200px;
	width:1000px;
	border:1px solid #15305b;
	margin-left:30px;
	
}
.rowstyle{
	background-color:#a2b3c4;
	display: inline-block;
	padding:5px 5px;
	width:170px;
	height:14px;
	font-size:14px;
}

